.outer
{
    width : 900px;
    height: 350px;
    background-color:salmon;
    margin-right: auto;
    margin-left:auto;
}

.blaze-outer-container
{
    display: flex;
    font-size:0px;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    height:300px;
    overflow-x:hidden;
    background-color:seagreen;
}

.blaze-inner-container
{
    display:flex;
    position: relative;
    justify-content: space-around;
    min-width: 100%;
    right: 0%;
    transition: right 1s;
}


.item
{
    /* display: inline-block;
    position: relative; */
    min-width:150px;
    /* height:70%;
    top:50%;
    margin-right:2%;
    margin-left:2%;
    transform: translateY(-50%);
    font-size:20px; */
    border:2px solid black;
}

.blaze-item
{
    display: inline-block;
    position: relative;
    min-width:150px;
    height:70%;
    top:50%;
    margin-right:2%;
    margin-left:2%;
    transform: translateY(-50%);
    font-size:20px;
    border:2px solid black;
}

.blaze-item-active
{
    display: inline-block;
}

.blaze-item-inactive
{
    display: none;
}