body{
    margin:0px;
}

.outer-container
{
    display: flex;
    width : 70%;
    height: 350px;
    background-color:darksalmon;
    margin-right: auto;
    margin-left:auto;
}

.item
{
    min-width:150px;
    height:70%;
    border:2px solid black;
}